##
##  NAMESPACE
##
importFrom("lokern", "glkerns")
importFrom("graphics", "abline", "lines", "par", "plot")
importFrom("stats", "predict", "smooth.spline", "uniroot")

# Public routines
export(features)
export(fget)
export(plot.features)
S3method(fget, features)
S3method(plot, features)

# S4 Methods
